<div class="row">
	<div class="offset3 span6">
		<div class="order-form-container default">
			<p class="alert alert-success">
				<%= @order.first_name.titleize %>, thank you for purchasing your ticket.
				Email confirmation has been sent to <strong><%= @order.email.upcase %></strong>. 
				Please print this page for you record.
			</p>
			<%= render @order %>
		</div>
	</div>
</div>