@import 'mixins'

#comments
	.comment
		margin: 0
		padding: 10px 0
		border-top: 1px solid rgba(128, 128, 128, 0.2)
		img
			+border-radius(2px)
			width: 40px
			height: auto

#form
	margin: 0
	padding: 15px 0 0
	border-top: 1px solid rgba(128, 128, 128, 0.2)
	img
		+border-radius(2px)
		width: 40px
		height: auto
	#post
		width: 55px