<div id="going-modal" class="modal fade hide" data-keyboard="true">
	
	<div class="modal-header">
		<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
		<p class="lead center">Going (<%= @going.count %>)</p>
	</div>
	
	<div class="modal-body">
		<p id="going-modal-effect" class="center">
			<i class="icon-spinner icon-spin icon-3x"></i>
		</p>
		
		<ul id="_going" class="unstyled">
			
		</ul>
	</div>

</div>