<div class="row">
	
	<aside class="span3">
		<%= render "event_full_sidebar" %>
	</aside>
	
	<article class="span7 default">
		<%= render 'event_full' %>
	</article>
	
	<aside class="span2 event-sidebar">
		<%= render "event_full_nav" %>
	</aside>
</div>
